AddType text/calendar;charset=UTF-8;component=vevent .ics

<FilesMatch "\.ics$">
    Header set Content-Type "text/calendar;charset=UTF-8"
    Header set Content-Disposition "attachment; filename=wedding.ics"
</FilesMatch>